*{
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
nav {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}
h2{
    font-weight: 600;
    box-shadow: 10px 10px 5px lightgray;
    background-color: rgb(128, 126, 126);
    text-decoration: underline;
    color: rgb(112, 28, 25);
}